// Animate on scroll
.animate {
    
    // disable animate on scroll functionality on smaller devices
    // consider reworking the code

    @include parallax-support {
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;

        &[data-anim="fade-in-bottom"] {
            opacity: 0;
            transform: translate3d(0, 100px, 0);
        }

        &[data-anim="fade-in-top"] {
            opacity: 0;
            transform: translate3d(0, -100px, 0);
        }

        &[data-anim="fade-in-left"] {
            opacity: 0;
            transform: translate3d(-100px, 0, 0);
        }

        &[data-anim="fade-in-right"] {
            opacity: 0;
            transform: translate3d(100px, 0, 0);
        }

        &.in {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}