.chart {
    svg {
        width: 100%;
    }
    path {
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    text {
        opacity: 0;
        font-family: $headings-font-family;
        font-weight: 300;
        fill: black;
        transition: opacity .3s ease-out;
        transition-delay: 1.5s; 
    }
    .stroke-0 {
        stroke: map-get($theme-colors, secondary);
    }
    .stroke-1 {
        stroke: map-get($theme-colors, info);
    }
    .stroke-2 {
        stroke: map-get($theme-colors, primary);
    }

    .fill-0 {
        fill: map-get($theme-colors, secondary);
    }

    .fill-1 {
        fill: map-get($theme-colors, info);
    }

    &.in svg {

        text {
            opacity: 1;
            
        }

        .stroke-0 {
            animation: dash 1s ease-in-out forwards;
        }

        .stroke-1 {
            animation: dash 1s ease-in-out forwards;
            animation-delay: .9s;
        }
    }
}

.chart[data-type="bars-stat"] {
    svg {
        
        path {
            stroke-width: 30;

            &.stroke-0 {
                stroke: #68ADDF;
                stroke-opacity: .5;
            }

            &.stroke-1 {
                stroke: #009C56;
            }
            
        }
        text {
            &.value, &.label {
                font-size: 2.5rem;
            }

            &.value:first-child {
                font-size: 7.5rem;
                fill: map-get($theme-colors, secondary);
            }

            &.label {
                text-anchor: end;
                fill: $text-muted;
            }
        }
    }
}

.chart[data-type="pie"] {

    svg {
        g {
            transform: rotate(-90deg);
            transform-origin: center;
        }
       
        path {
            stroke-width: 30;
        }

        .stroke-1 {
            stroke-opacity: .5;
        }

        text {

            &.total {
                font-size: 3rem;
                text-anchor: middle;
            }
            &.label {
                font-size: 2rem;
                &.fill-0 {
                    text-anchor: start;
                }
                &.fill-1 {
                    text-anchor: middle;
                }
            }
        }
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}