@mixin parallax-support() {
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
        @content;
    }
}

body {
    @include parallax-support() {
        transform: translateZ(0);
    }
}

.viewport {
    @include parallax-support() {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateZ(0);
        perspective: 1px;
        perspective-origin: top left;
        -webkit-overflow-scrolling: touch;
    }

    scroll-behavior: smooth;
}

.banner-background,
.page-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // parallax effect
    @include parallax-support() {       
        transform-origin: top left;
    }
}

.banner-background {
    @include parallax-support() {
        // parallax effect
        transform: translateZ(-1px) scale(2);
    }
    // background
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page-content {
    @include parallax-support() {
        // parallax effect
        transform: translateZ(0px);
    }
}

.viewport:not(#home) {
    .page-banner {
        padding-top: 6rem;

        height: 90vh;
        background-image: linear-gradient(180deg, $white 50%, rgba(255, 255, 255, 0));

        &.no-image {
            height: auto;
        }

        @include media-breakpoint-up(md) {
            padding-top: 7rem;
            padding-bottom: 7rem;
        }

        @include media-breakpoint-up(lg) {
            height: auto;
            background-image: none;
            background-color: $white;
            padding-top: 10rem;
            padding-bottom: 2rem;
        }
    }
}

table {
    th {
        font-family: $headings-font-family;
        font-weight: 300;
    }
}

.w-15 {
    width: 15%;
}