<!-- footer.njk -->
<footer class="bg-light py-4">
    <div class="container">
        <div><p>IR5B, IRISH STOCK EXCHANGE 5.03€</p></div>
        <div><p>CONTACT US / Phone: +353 1 607 5700 / Email: info@icg.ie</p></div>
        <div>Irish Continental Group</div>
        <div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link small" href="#">Terms of Use</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link small" href="#">Cookie Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link small" href="#">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link small" href="#">Modern Slavery</a>
                </li>
            </ul>
        </div>
        <div>Staff Portal</div>
        <div>
            <p class="small">© 2019 ICG. All rights reserved.<br>Irish Continental Group plc is a public company limited by shares and registered in Ireland.<br>Registration No.: 41043. Registered Address: Ferryport, Alexandra Road, Dublin 1, Ireland.</p>
        </div>
    </div>
</footer>