<!-- footer.njk -->
<footer>
    <div class="bg-white text-center">
        <span class="large-icon up-icon" id="scrollUp"></span>
    </div>
    <div class="bg-primary py-3">
        <div class="container">
            <div class="row text-light bg-primary">
                <div class="col-md-6">
                    <span class="small-icon phone-icon"></span>
                    <span class="px-2"><a href="tel:+35316075700" class="text-light">+353 1 607 5700</a></span>
                    <span class="small-icon email-icon"></span>
                    <span class="pl-2"><a href="mailto:info@icg.ie" class="text-light">info@icg.ie</a></span>
                </div>
                <div class="col-md-6 mt-3 mt-md-0">
                    <span class="small-icon stock-icon"></span>
                    <span class="px-2">Share Price (ISE): &euro;5.03</span>
                    <a href="#" class="btn btn-outline-info btn-sm">More<span class="d-none d-lg-inline"> information</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-info py-4">
        <div class="container">
            <div class="row pb-5 pb-md-3">
                <div class="col">
                    <ul class="nav align-items-center">
                        <li class="nav-item mr-auto d-none d-lg-block">
                            <a class="navbar-brand" href="/">Irish Continental Group</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link small" href="terms.html">Terms of Use</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link small" href="cookies.html">Cookie Policy</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link small" href="privacy.html">Privacy Policy</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link small" href="slavery.html">Modern Slavery</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col text-white text-center text-md-left">
                    <small>&copy; 2019 ICG. All rights reserved.<br>Irish Continental Group plc is a public company limited by shares and registered in Ireland.<br>Registration No. 41043. Registered Address: Ferryport, Alexandra Road, Dublin 1, Ireland.</small>   
                </div>
            </div>
        </div>
    </div>
</footer>