{% macro active(activePage='home') %}
    <header class="fixed-top {%if activePage == 'home' %} expanded {% else %} compact {% endif %}">
        <nav>
            <div class="container">

            </div>
        </nav>
    </header>
{% endmacro %}


