{% macro active(activePage='home') %}
    <header class="fixed-top {%if activePage == 'home' %} expanded {% else %} compact {% endif %}">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <div class="row flex-grow-1">
                    <div class="col col-lg-4" id="navbarBrandWrapper">
                        <a id="logoICG" href="/">
                            <span class="img"><img src="assets/branding/ICG-Symbol.svg" alt="ICG Logo Symbol"></span>
                            <span class="img"><img src="assets/branding/ICG-Wordmark-Blue.svg" alt="ICG Logo Wordmark"></span>
                            <span class="sr-only">Irish Continental Group (Homepage)</span>
                        </a>
                        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <!-- Main Menu -->
                    <div class="collapse navbar-collapse col col-lg-8" id="mainMenu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About
                                </a>
                                <div class="dropdown-menu bg-light border-0 mt-0" aria-labelledby="aboutDropdown">
                                    <div class="d-lg-flex">
                                        <div class="dropdown-menu-col">
                                            <h6 class="dropdown-header">The Group</h6>
                                            <a class="dropdown-item {%if activePage == 'at_a_glance' %} active {% endif %}" href="at_a_glance.html">At a Glance</a>
                                            <a class="dropdown-item {%if activePage == 'business_model' %} active {% endif %}" href="business_model.html">Our Business Model</a>
                                            <a class="dropdown-item {%if activePage == 'strategy' %} active {% endif %}" href="strategy.html">Our Strategy</a>
                                            <a class="dropdown-item {%if activePage == 'safety_environment' %} active {% endif %}" href="safety_environment.html">Safety and Environment</a>
                                        </div>
                                        <div class="dropdown-menu-col">
                                            <h6 class="dropdown-header">Governance</h6>
                                            <a class="dropdown-item {%if activePage == 'governance_statement' %} active {% endif %}" href="governance_statement.html">Corporate Governance Statement</a>
                                            <a class="dropdown-item {%if activePage == 'board_directors' %} active {% endif %}" href="board_directors.html">Board of Directors</a>
                                            <a class="dropdown-item {%if activePage == 'board_committees' %} active {% endif %}" href="board_committees.html">Board Committees</a>
                                            <a class="dropdown-item {%if activePage == 'senior_management' %} active {% endif %}" href="senior_management.html">Senior Management</a>
                                            <a class="dropdown-item {%if activePage == 'risk_management' %} active {% endif %}" href="risk_management.html">Risk Management</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="businessDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our Business
                                </a>
                                <div class="dropdown-menu bg-light border-0 mt-0" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item {%if activePage == 'ferries_division' %} active {% endif %}" href="ferries_division.html">Ferries Division</a>
                                    <a class="dropdown-item {%if activePage == 'container_division' %} active {% endif %}" href="container_division.html">Container and Terminal Division</a>
                                    <a class="dropdown-item {%if activePage == 'our_fleet' %} active {% endif %}" href="our_fleet.html">Our Fleet</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="investorsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Investors
                                </a>
                                <div class="dropdown-menu dropdown-menu-right bg-light border-0 mt-0" aria-labelledby="navbarDropdown">
                                    <div class="d-lg-flex">
                                        <div class="dropdown-menu-col">
                                            <h6 class="dropdown-header">Results Centre</h6>
                                            <a class="dropdown-item" href="#">Investment Case</a>
                                            <a class="dropdown-item" href="#">Financial Highlights</a>
                                            <a class="dropdown-item" href="#">Financial Calendar</a>
                                            <a class="dropdown-item" href="#">Reports and Presentations</a>
                                            <a class="dropdown-item" href="#">Regulatory News</a>
                                        </div>
                                        <div class="dropdown-menu-col">
                                            <h6 class="dropdown-header">Share Information</h6>
                                            <a class="dropdown-item" href="#">Share Price</a>
                                            <a class="dropdown-item" href="#">Dividends</a>
                                            <a class="dropdown-item" href="#">Significant Holdings</a>
                                            <a class="dropdown-item" href="#">Shareholder Services</a>
                                            <a class="dropdown-item" href="#">Analyst Coverage</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="mediaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Media and Contacts
                                </a>
                                <div class="dropdown-menu bg-light border-0 w-100 mt-0" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Press Releases</a>
                                <a class="dropdown-item" href="#">Press Contacts</a>
                                <a class="dropdown-item" href="#">ICG Contacts</a>
                                <a class="dropdown-item" href="#">Usefull Links</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
{% endmacro %}


