// About -> At a Glance

#at_a_glance {
    .banner-background {
        background-image: url('../assets/images/at-a-glance-banner.jpg');
        background-position-x: calc(50% - 6rem);
        @include media-breakpoint-up(md) {
            background-position-x: center;
        }
    }

    .jumbotron {

    }

    .subs-logo {
        flex: 0 1 20%;
        padding: $spacer * 2.5;

        &:hover {
            transform: scale(1.2);
        }
    }

    section:last-child {
        img {
            width: 100%;
            @include media-breakpoint-up(md) {
                width: 50%;
            }
        }
    }
}