// About -> At a Glance

#at_a_glance {
    .banner-background {
        background-image: url('../assets/images/at-a-glance-banner.jpg');
        background-position-x: center;
        @include media-breakpoint-up(md) {
            background-position-x: calc(50% - 7rem);
        }
        @include media-breakpoint-up(lg) {
            background-position-x: center;
        }
    }

    .jumbotron {

    }
    .subs-wrapper {

        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
        }

        .subs-logo {
            
            padding: $spacer;
            width: 50%;
            
            @include media-breakpoint-up(lg) {
                flex: 0 1 20%;
                padding: $spacer * 2.5;
            }
    
            &:hover {
                transform: scale(1.2);
            }
        }

        .subs-logo + .subs-logo {
            border-top: $border-width solid $border-color;
            @include media-breakpoint-up(md) {
                border-top: none;
            }
        }
    }
    

    section:last-child {
        img {
            width: 100%;
            @include media-breakpoint-up(md) {
                width: 50%;
            }
        }
    }

    .animated-icon-md {
        width: 35%;
        margin: 0 auto;
    }
}