// Our Business -> Ferries Division

#ferries_division {
    .banner-background {
        background-image: url('../assets/images/ferries-banner.jpg');
    }

    .jumbotron {

    }

    .svg-map svg {
        width: 150%;
        @include media-breakpoint-up(md) {
            width: 100%;
        }
    }

}