// Investors -> Financial Highlights

#financial_highlights {
    .banner-background {
        background-image: none;
    }

    .chart {
        width: 80%;
        margin: 0 auto;
        path:last-child {
            opacity: 1;
        }
    }
    
}