// Investors -> Financial Highlights

#financial_highlights {
    .banner-background {
        background-image: none;
    }

    .chart {
        
        path:last-child {
            opacity: 1;
            stroke: map-get($theme-colors, secondary);
        }
    }

    .blockquote p {
        font-size: $font-size-base;

        @include media-breakpoint-up(md) {
            font-size: $font-size-lg;
        }
    }

    table {
        
    }
    
}