// About -> Corporate Governance Statement

#governance_statement {
    .banner-background {
        background-image: none;
    }

    .jumbotron {
        
    }

    .framework {
        display: flex;
        flex-direction: column;
        .block {
            flex: 0 1 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 1rem .5rem;
        }
        .box-wrapper {
            @include border-radius($border-radius);
            border: $border-width solid $gray-400;
            padding: 1rem !important;
        }
        .box {
            flex: 0 1 100%;
            padding: .5rem;

            @include media-breakpoint-up(md) {
                flex: 0 1 50%;
            }

            @include media-breakpoint-up(lg) {
                flex: 0 1 20%;
            }

            div {
                display: flex;
                align-content: center;
                width: 100%;
                height: 100%;
                padding: 1rem;
                align-items: center;
                justify-content: center;
                @include border-radius($border-radius);
                span {
                    text-align: center;
                }
            }
        }
        .box-1 {
            div {
                background-color: $gray-400;
            }
        }
        .box-2 {
            div {
                color: $white;
                background-color: map-get($theme-colors, dark);
            }
        }
        .box-3 {
            div {
                border: $border-width solid $gray-400;
            }
        }
        .arrow-down-normal,
        .arrow-down-short,
        .arrow-down-long {
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 3rem;
                left: calc(50% - 1.5rem);

                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg%3E%3Cpath fill='none' stroke='%23ced4da' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M24 -2v45'/%3E%3C/g%3E%3Cpath fill='none' stroke='%23ced4da' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M24 45.7L11.6 33.4'/%3E%3Cpath fill='none' stroke='%23ced4da' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M24 45.7l12.4-12.3'/%3E%3C/svg%3E");

                background-size: 3rem 3rem;
                background-position: center bottom;
            }
        }

        .arrow-down-normal {
            &:after {
                height: 3rem;
                bottom: -2.5rem;
            }
        }

        .arrow-down-short {
            &:after {
                height: 1.5rem;
                bottom: -1rem;
            }
        }

        .fb-30 {
            @include media-breakpoint-up(lg) {
                flex: 0 1 30% !important;
            }
        }
        
        .fb-60 {
            @include media-breakpoint-up(lg) {
                flex: 0 1 60% !important;
            }
        }

        .fb-50 {
            @include media-breakpoint-up(lg) {
                flex: 0 1 50% !important;
            }
        }

        .fb-100 {
            @include media-breakpoint-up(lg) {
                flex: 0 1 100% !important;
            }
        }
    }

}