// Homepage

#home {
    #homeCarousel {

        width: 100%;
        height: 100%;

        .carousel-inner {
            width: 100%;
            height: 100%;
        }
        .carousel-item {
            width: 100%;
            height: 100%;

            background-size: cover;
            background-position-x: center;
            background-position-y: top;

            &:first-child {
                background-image: url('../assets/images/home-banner-1.jpg');
            }
            &:nth-child(2) {
                background-image: url('../assets/images/home-banner-2.jpg');
            }
            &:nth-child(3) {
                background-image: url('../assets/images/home-banner-3.jpg');
            }
            &:nth-child(4) {
                background-image: url('../assets/images/home-banner-4.jpg');
            }
            &:last-child {
                background-image: url('../assets/images/home-banner-5.jpg');
            }
        }
    }

    .jumbotron {
        background-color: transparent;
        position: relative;

        > div:first-child {
            position: relative;
            height: 100vh;
            width: 100%;

            > div {
                position: absolute;
                bottom: 1rem;
                width: 100%;
                z-index: 2;

                @include media-breakpoint-up(lg) {
                    bottom: 4rem;
                }
            }
        }

        > div:last-child {
            
            @include media-breakpoint-up(lg) {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
            }

            .row {
            
                > div:first-child {
                    padding-bottom: $spacer;
                    @include media-breakpoint-up(md) {
                        padding-bottom: 0;
                    }
                }

                > div:last-child {
                
                    padding-top: $spacer;
                    border-top: $border-width solid map-get($theme-colors, "info");

                    @include media-breakpoint-up(md) {
                        padding-top: 0;
                        border-top: none;
                    }

                    @include media-breakpoint-up(lg) {
                        justify-content: flex-end;
                    }
                }

                .small-icon + span {
                    width: 75%;
                    @include media-breakpoint-up(lg) {
                        width: auto;
                    }
                }

                .btn {
                    margin-left: auto;
                    @include media-breakpoint-up(lg) {
                        margin-left: .5rem;
                    }
                }
            }
        }
    }

    .animated-icon-md {
        width: 35%;
        margin: auto;
    }

    .list-group-item {

        padding: .75rem;
        align-items: center;

        > span:first-child {
            width: 85%;
            > span {
                display: block;
            }
        }
        

        @include media-breakpoint-up(md) {

            padding: .75rem 1rem;

            > span:first-child {
                width: 85%;
                > span {
                    display: inline-block;
                }
            }

            .text-muted {
                width: 15%;
            }
            
        }

        
    }
}