<!-- index.njknunjucks -->
{% extends "layout.njk" %}

{% block content %}
    <section class="jumbotron jumbotron-fluid text-light text-center vh-100 py-0 mb-0">
        <div class="container d-flex flex-column justify-content-center h-100" id="bannerInfo">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="display-4"><b>We are Ireland’s leading shipping, transport and leisure Group</b></h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <button class="btn btn-lg btn-dark w-100 mt-3 border-0" id="videoButton">
                        <span>A day in the life of ICG</span>
                        <span>
                            <span class="small d-none d-sm-block">Play Video</span>
                            <span></span>
                        </span>
                    </button>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-dark w-100 mt-3 border-0" href="#" role="button">More about us</a>
                </div>
            </div>
        </div>
        <div id="extraInfo" class="bg-primary text-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col text-left">
                        <img class="small-icon" src="assets/icons/News-Icon-B.svg" alt="News Icon">
                        The story of our newest ferry W.B. Yates
                        <button type="button" class="btn btn-outline-secondary btn-sm ml-2">Click for video</button>
                    </div>
                    <div class="col text-right">
                        <img class="small-icon" src="assets/icons/Stock-Icon-B.svg" alt="Stock Icon">
                        Share Price (ISE): <b>&euro;5.03</b>
                        <a href="#" class="btn btn-outline-secondary btn-sm ml-2">More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white pt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card animate" data-anim="fade-in-bottom" data-anim-delay="0">
                        <div class="card-body">
                            This is some text within a card body.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card animate" data-anim="fade-in-bottom" data-anim-delay="50">
                        <div class="card-body">
                            This is some text within a card body.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card animate" data-anim="fade-in-bottom" data-anim-delay="100">
                        <div class="card-body">
                            This is some text within a card body.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-5 bg-white">
        <div class="container">
            <div class="row">
                <div class="col col-lg-10 offset-lg-1 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                    <h2>Latest Reports and Presentations</h2>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Presentations</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                                <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                                <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                                <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}