<!-- at_a_glance.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('at_a_glance')}}
    
    <!-- Content -->
    <div class="viewport" id="at_a_glance">
        <div class="banner-background"></div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid text-center vh-100 py-0 mb-0 bg-transparent position-relative">
                    <div class="page-banner w-100">
                        <div class="container d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="text-secondary">At a Glance</h1>
                                    <p class="lead text-primary">Irish Continental Group (ICG) is the leading Irish-based maritime transport group. We carry passengers and cars, Roll on Roll off (RoRo) freight and Container Lift on Lift off (LoLo) freight, on routes between Ireland, the United Kingdom and Continental Europe. We also operate container terminals in the ports of Dublin and Belfast. The Group also carries out ship chartering activities.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-transparent text-center w-100 position-absolute" style="bottom: 0">
                        <span class="large-icon down-icon" id="scrollDown"></span>
                    </div>
                </section>
                <div class="content-sections bg-white">
                    <section class="container">
                        <div class="row py-5">
                            <div class="col-12 col-md-6 col-lg-5 offset-lg-1 d-flex flex-column animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                <div class="flex-grow-1">
                                    <h3 class="text-secondary">Ferries Division</h3>
                                    <p class="card-text mb-2">Modern fleet of multi-purpose ferries and LoLo container vessels operating between the Republic of Ireland and Britain and Continental Europe, and on charter.</p>
                                </div>
                                <div class="pt-2">
                                    <a href="ferries_division.html" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Read more</a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5 mt-4 mt-md-0 d-flex flex-column animate" data-anim="fade-in-bottom" data-anim-delay="50">
                                <div class="flex-grow-1">
                                    <h3 class="text-secondary">Container and Terminal Division</h3>
                                    <p class="card-text mb-2">Container shipping services between Ireland and Continental Europe, operating modern fleet and equipment, as well as stevedoring and related services for container traffic at Dublin and Belfast Ports.</p>
                                </div>
                                <div class="pt-2">
                                    <a href="container_division.html" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Read more</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="pt-5 pb-2 container border-top">
                        <div class="row animate" data-anim="fade-in-bottom" data-anim-delay="0">
                            <div class="col-12">
                                <h3 class="text-secondary text-center">Subsidiary companies</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex align-items-center">
                                <a href="#" class="subs-logo animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                    <img src="assets/branding/subsidiaries/if-logo.jpg" class="img-fluid" alt="Irish Ferries">
                                </a>
                                <a href="#" class="subs-logo animate" data-anim="fade-in-bottom" data-anim-delay="50">
                                    <img src="assets/branding/subsidiaries/iff-logo.jpg" class="img-fluid" alt="Irish Ferries Freight">
                                </a>
                                <a href="#" class="subs-logo animate" data-anim="fade-in-bottom" data-anim-delay="100">
                                    <img src="assets/branding/subsidiaries/eucon-logo.png" class="img-fluid" alt="Eucon">
                                </a>
                                <a href="#" class="subs-logo animate" data-anim="fade-in-bottom" data-anim-delay="150">
                                    <img src="assets/branding/subsidiaries/dft-logo.jpg" class="img-fluid" alt="Dublin Ferryport Terminals">
                                </a>
                                <a href="#" class="subs-logo animate" data-anim="fade-in-bottom" data-anim-delay="200">
                                    <img src="assets/branding/subsidiaries/bct-logo.jpg" class="img-fluid" alt="Belfast Container Terminals">
                                </a>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row animate" data-anim="fade-in-bottom" data-anim-delay="0">
                            <div class="col-12">
                                <h3 class="text-secondary text-center">Group Financial Performance Highlights YE2018</h3>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12 col-md-3 text-center">
                                <h5>Revenue</h5>
                                <div id="chart-1" class="chart py-3 animate" data-anim="play" data-anim-delay="0" data-type="pie" data-values="194.8;135.4"></div>
                            </div>
                            <div class="col-12 col-md-3 text-center">
                                <h5>Operating Profit</h5>
                                <div id="chart-2" class="chart py-3 animate" data-anim="play" data-anim-delay="1000" data-type="pie" data-values="34.2;12.1"></div>
                            </div>
                            <div class="col-12 col-md-3 text-center">
                                <h5>Capital Employed</h5>
                                <div id="chart-3" class="chart py-3 animate" data-anim="play" data-anim-delay="2000" data-type="pie" data-values="111.6;33.4"></div>
                            </div>
                            <div class="col-12 col-md-3 text-center">
                                <h5>EBITDA</h5>
                               <div id="chart-4" class="chart py-3 animate" data-anim="play" data-anim-delay="3000" data-type="pie" data-values="53.4;15.0"></div>
                            </div>
                            <div class="col-12 text-center pt-3">
                                <span class="dot-secondary-100 small text-muted">Ferries Division</span>
                                <span class="dot-info-50 small ml-3 text-muted">Container and Terminal Division</span>
                            </div>
                            <div class="col-12 text-center pt-5">
                                <a class="btn btn-outline-secondary" href="#" role="button">More Financial Highlights</a>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row animate" data-anim="fade-in-bottom" data-anim-delay="0">
                            <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                                <h3 class="text-secondary text-center">We are a customer focussed business facilitating Ireland’s international trade and tourism.</h3>
                            </div>
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="card h-100 border-0 text-center animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                    <div class="animated-icon-md animate" data-anim="play" data-anim-delay="250" data-anim-offset="100">
                                        {% import 'partials/macro-icons.njk' as svg %}
                                        {{ svg.icon('truck-icon') }}
                                    </div>
                                    <p class="card-text" data-anim-delay="0">Strategic short sea routes provide a seamless connection from Ireland to the UK and Continental motorway network for the 283,700 RoRo units carried in 2018.</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 mt-3 mt-md-0">
                                <div class="card h-100 border-0 text-center animate" data-anim="fade-in-bottom" data-anim-delay="250">
                                    <div class="animated-icon-md animate" data-anim="play" data-anim-delay="500" data-anim-offset="100">
                                        {% import 'partials/macro-icons.njk' as svg %}
                                        {{ svg.icon('clock-icon') }}
                                    </div>
                                    <p class="card-text">Reliability underpinned by major investment in quality assets ensuring the high levels of schedule integrity demanded by our customers.</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 mt-3 mt-md-0">
                                <div class="card h-100 border-0 text-center animate" data-anim="fade-in-bottom" data-anim-delay="500">
                                    <div class="animated-icon-md animate" data-anim="play" data-anim-delay="750" data-anim-offset="100">
                                        {% import 'partials/macro-icons.njk' as svg %}
                                        {{ svg.icon('navigation-icon') }}
                                    </div>
                                    <p class="card-text">Strategically located terminals in Dublin and Belfast handled 310,000 container units during 2018 for shipping operators providing access to global markets.</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 mt-3 mt-lg-0">
                                <div class="card h-100 border-0 text-center animate" data-anim="fade-in-bottom" data-anim-delay="750">
                                    <div class="animated-icon-md animate" data-anim="play" data-anim-delay="1000" data-anim-offset="100">
                                        {% import 'partials/macro-icons.njk' as svg %}
                                        {{ svg.icon('shipping-icon') }}
                                    </div>
                                    <p class="card-text">Connected container transport services, transporting 327,600 TEU in 2018 between Ireland and 20 countries throughout Europe by sea, road, rail and barge.</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 mt-3 mt-lg-4">
                                <div class="card h-100 border-0 text-center animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                    <div class="animated-icon-md animate" data-anim="play" data-anim-delay="250" data-anim-offset="100">
                                        {% import 'partials/macro-icons.njk' as svg %}
                                        {{ svg.icon('online-icon') }}
                                    </div>
                                    <p class="card-text">Our services operate 24/7, assisted by modern booking and tracking systems operating over a variety of platforms.</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 mt-3 mt-lg-4">
                                <div class="card h-100 border-0 text-center animate" data-anim="fade-in-bottom" data-anim-delay="250">
                                    <div class="animated-icon-md animate" data-anim="play" data-anim-delay="500" data-anim-offset="100">
                                        {% import 'partials/macro-icons.njk' as svg %}
                                        {{ svg.icon('location-icon') }}
                                    </div>
                                    <p class="card-text">Fastest crossing on the Irish sea with a sailing time of 2 hours between Dublin and Holyhead at speeds of up to 65 kph.</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 mt-3 mt-lg-4">
                                <div class="card h-100 border-0 text-center animate" data-anim="fade-in-bottom" data-anim-delay="500">
                                    <div class="animated-icon-md animate" data-anim="play" data-anim-delay="750" data-anim-offset="100">
                                        {% import 'partials/macro-icons.njk' as svg %}
                                        {{ svg.icon('baggage-icon') }}
                                    </div>
                                    <p class="card-text">Key contributor to regional tourism in Ireland, Irish Ferries carried 1.5 million passengers and 392,700 cars during 2018.</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 mt-3 mt-lg-4">
                                <div class="card h-100 border-0 text-center animate" data-anim="fade-in-bottom" data-anim-delay="750">
                                    <div class="animated-icon-md animate" data-anim="play" data-anim-delay="1000" data-anim-offset="100">
                                        {% import 'partials/macro-icons.njk' as svg %}
                                        {{ svg.icon('food-icon') }}
                                    </div>
                                    <p class="card-text">High standard onboard experience including quality food and beverage, entertainment, accommodation services and free WiFi.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 mt-lg-5">
                            <div class="col-12 text-center">
                                <a class="btn btn-outline-secondary" href="business_model.html" role="button">Our Business Model</a>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row animate" data-anim="fade-in-bottom" data-anim-delay="0">
                            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                                <h3 class="text-secondary text-center mb-3">History</h3>
                                <p>Irish Continental Group was formed (as Irish Continental Line) as an Irish/Scandinavian joint venture in 1972 in order to provide a direct ferry link from Ireland to Continental Europe. This link was inaugurated in 1973 with the then newly-built St. Patrick on the route between Rosslare and Le Havre.</p>
                                <img src="assets/images/history-pic.jpg" class="float-md-right ml-md-4 mb-4 mr-lg-n4 rounded animate" data-anim="fade-in-right" data-anim-delay="250" alt="">
                                <p>In 1992 the Group further increased the scale of its operations through the acquisition of B&amp;I Line, then owned by the Irish Government. This broadened the Group’s activities to include the short sea links with the United Kingdom, Ireland ‘s largest trading partner, and also extended the Group’s operations into container transport and port operations.</p>
                                <p>Since 2000 the group has invested over €500 million in new vessels, port infrastructure and acquisitions and the group is now the leading Irish marine transport operator.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}