<!-- at_a_glance.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('at_a_glance')}}
    
    <!-- Content -->
    <div class="viewport" id="at_a_glance">
        <div class="banner-background"></div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid text-center vh-100 py-0 mb-0 bg-transparent position-relative">
                    <div class="page-banner w-100 bg-white">
                        <div class="container d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="display-4 text-secondary">At a Glance</h1>
                                    <p class="lead text-primary">Irish Continental Group (ICG) is the leading Irish-based maritime transport group. We carry passengers and cars, Roll on Roll off (RoRo) freight and Container Lift on Lift off (LoLo) freight, on routes between Ireland, the United Kingdom and Continental Europe. We also operate container terminals in the ports of Dublin and Belfast. The Group also carries out ship chartering activities.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content-sections bg-white">
                    <section class="container mb-5">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6 col-lg-5 mt-5 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                <h3 class="text-secondary">Ferries Division</h3>
                                <p>Modern fleet of multi-purpose ferries and LoLo container vessels operating between the Republic of Ireland and Britain and Continental Europe, and on charter.</p>
                                <p>1.5 million passengers carried during 2018 on up to 17 daily sailings.</p>
                                <p>Key freight positions on short sea routes between the Republic of Ireland and Britain.</p>
                                <p>Inclusive package holidays to the Republic of Ireland and Britain.</p>
                                <a href="#" class="btn btn-outline-secondary" role="button" aria-pressed="true">Find out more</a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5 mt-5 animate" data-anim="fade-in-bottom" data-anim-delay="50">
                                <h3 class="text-secondary">Container and Terminal Division</h3>
                                <p>Container shipping services between Ireland and Continental Europe, operating modern fleet and equipment, as well as stevedoring and related services for container traffic at Dublin and Belfast Ports.</p>
                                <a href="#" class="btn btn-outline-secondary" role="button" aria-pressed="true">Find out more</a>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-1 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                <h3 class="text-secondary text-center">Irish Continental Group is a customer focussed business with a pivotal position in the logistics chain facilitating Ireland’s international trade and tourism.</h3>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-lg-3 mt-4">
                                        <div class="card h-100 border-0 shadow animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                            <img src="https://place-hold.it/360x120" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                Strategic short sea RoRo routes operated by Irish Ferries providing a seamless connection from Ireland to the UK and Continental motorway network for the 283,700 RoRo units carried in 2018.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3 mt-4">
                                        <div class="card h-100 border-0 shadow animate" data-anim="fade-in-bottom" data-anim-delay="50">
                                            <img src="https://place-hold.it/360x120" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                Reliability underpinned by major investment in tonnage and maintenance of quality assets ensuring the high levels of schedule integrity demanded by our customers.
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-12 col-sm-6 col-lg-3 mt-4">
                                        <div class="card h-100 border-0 shadow animate" data-anim="fade-in-bottom" data-anim-delay="100">
                                            <img src="https://place-hold.it/360x120" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                Strategically located container terminals which handled 310,000 container units during 2018 in Ireland’s main orts of Dublin and Belfast for shipping operators providing services to key continental hub ports and onwards access to global markets.
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-12 col-sm-6 col-lg-3 mt-4">
                                        <div class="card h-100 border-0 shadow animate" data-anim="fade-in-bottom" data-anim-delay="150">
                                            <img src="https://place-hold.it/360x120" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                Connected container transport services provided by Eucon, transporting 327,600 teu (twenty foot equivalent unit) in 2018 between Ireland and 20 countries throughout Europe by sea, road, rail and barge.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-lg-3 mt-4">
                                        <div class="card h-100 border-0 shadow animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                            <img src="https://place-hold.it/360x120" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                Always on, always in touch our shipping and terminal services operate 24/7, assisted by investment in modern booking and tracking systems to ensure our customers can keep in touch over a variety of platforms.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3 mt-4">
                                        <div class="card h-100 border-0 shadow animate" data-anim="fade-in-bottom" data-anim-delay="50">
                                            <img src="https://place-hold.it/360x120" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                Fastest crossing on the Irish sea on board the Irish Ferries Dublin Swift fastcraft service with a sailing time of 2 hours between Dublin and Holyhead at speeds of up to 65 kph.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3 mt-4">
                                        <div class="card h-100 border-0 shadow animate" data-anim="fade-in-bottom" data-anim-delay="100">
                                            <img src="https://place-hold.it/360x120" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                Key contributor to regional tourism in Ireland, Irish Ferries carried 1.5 million passengers and 392,700 cars during 2018 with research indicating that car tourists stay longer and travel outside the main urban centres.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3 mt-4">
                                        <div class="card h-100 border-0 shadow animate" data-anim="fade-in-bottom" data-anim-delay="150">
                                            <img src="https://place-hold.it/360x120" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                High standard onboard experience enjoyed by our Irish Ferries customers encompasses quality food, beverage, entertainment and accommodation services. Passengers are never out of touch with free satellite wi-fi services.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="text-secondary text-center">Group Financial Performance Highlights YE2018</h2>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}