<!-- board_committees.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('board_committees')}}
    
    <!-- Content -->
    <div class="viewport" id="board_committees">
        <div class="banner-background"></div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid text-center py-0 mb-0 bg-transparent position-relative">
                    <div class="page-banner w-100 pb-5">
                        <div class="container d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="text-secondary">Board Committees</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content-sections bg-white">
                    <section class="py-5 container border-top">
                        <div class="row animate" data-anim="fade-in-bottom">
                            <div class="col-md-10 offset-md-1">
                                <h3 class="text-secondary">Audit Committee</h3>
                            </div>
                            <div class="col-md-10 offset-md-1 col-lg-6">
                                <p>The Audit Committee regularly assesses, on behalf of the Board, the validity of the Company’s financial and other reporting arrangements. The Board has also delegated responsibility for reviewing the design and implementation of the Group’s system of internal control and risk management procedures to the Audit Committee. The Audit Committee is responsible for the approach and scope of the internal and external audit and keeps under review the objectivity and independence of the external auditors. The Audit Committee consists of three Non-Executive Directors. Membership of the Committee is reviewed annually by the Chairman of the Committee and the Group Chairman who recommend new appointments to the Nomination Committee for onward recommendation to the Board. The Group Secretary acts as secretary to the Committee.</p>
                                <p>The key roles and responsibilities of the Audit Committee are set out in detail in the Report of the Audit Committee. This report is designed to provide you with details of our activities during 2018. A copy of the Terms of Reference of the Audit Committee is available for download by clicking on the link <span class="d-none d-lg-inline">on your right.</span><span class="d-lg-none">below.</span></p>
                            </div>
                            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                                <div class="card animate" data-anim="fade-in-right" data-anim-delay="250">
                                    <div class="card-body">
                                        <h5 class="card-title mb-0 text-secondary">Audit Committee Members</h5>
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item list-group-item-action">John Sheehan (Committee Chairman)</a>
                                        <a href="#" class="list-group-item list-group-item-action">Catherine Duffy</a>
                                        <a href="#" class="list-group-item list-group-item-action">Brian O’Kelly</a>
                                    </div>
                                    <div class="card-body">
                                        <a class="btn w-100 btn-outline-secondary" href="#" role="button">2018 Audit Committee Report</a>
                                        <a class="btn w-100 mt-2 btn-outline-secondary" href="#" role="button">Audit Committee Terms of Reference</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row animate" data-anim="fade-in-bottom">
                            <div class="col-md-10 offset-md-1">
                                <h3 class="text-secondary">Nomination Committee</h3>
                            </div>
                            <div class="col-md-10 col-lg-6 offset-md-1">
                                <p>The Nomination Committee of the Group leads the process for Board appointments. The Committee is responsible for evaluating the balance of skills, knowledge, experience and diversity of the Board and Committee and makes recommendations to the Board with regard to any changes. The Committee also considers appointments to Senior Management positions.</p>
                                <p>The Committee comprises three Non-Executive Directors and one Executive Director. The Group Secretary acts as secretary to the Committee.</p>
                                <p>The key roles and responsibilities of the Nomination Committee during 2018 are set out in detail in the Report of the Nomination Committee. This report is designed to provide you with details of our activities during 2018. A copy of the Terms of Reference of the Nomination Committee is available for download by clicking on the link <span class="d-none d-lg-inline">on your right.</span><span class="d-lg-none">below.</span></p>
                            </div>
                            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                                <div class="card animate" data-anim="fade-in-right" data-anim-delay="250"> 
                                    <div class="card-body">
                                        <h5 class="card-title mb-0 text-secondary">Nomination Committee Members</h5>
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item list-group-item-action">Catherine Duffy (Committee chairman)</a>
                                        <a href="#" class="list-group-item list-group-item-action">Brian O’Kelly</a>
                                        <a href="#" class="list-group-item list-group-item-action">John Sheehan</a>
                                        <a href="#" class="list-group-item list-group-item-action">Eamonn Rothwell</a>
                                    </div>
                                    <div class="card-body">
                                        <a class="btn w-100 btn-outline-secondary" href="#" role="button">2018 Nominations Committee Report</a>
                                        <a class="btn w-100 mt-2 btn-outline-secondary" href="#" role="button">Nominations Committee Terms of Reference</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row animate" data-anim="fade-in-bottom">
                            <div class="col-md-10 offset-md-1">
                                <h3 class="text-secondary">Remuneration Committee</h3>
                            </div>
                            <div class="col-md-10 col-lg-6 offset-md-1">
                                <p>The Remuneration Committee is responsible for determining the Groups framework for executive remuneration and the specific packages and conditions of employment for each of the Non-Executive Directors, Executive Directors and other Senior Management.</p>
                                <p>The Remuneration Committee comprises three Non-Executive Directors. The Group Secretary acts as secretary to the Remuneration Committee.</p>
                                <p>The key roles and responsibilities of the Committee are set out in detail in the Report of the Remuneration Committee. This report is designed to provide you with details of the Group’s remuneration policy and the actual remuneration paid to the Group’s Executive Directors. A copy of the Terms of Reference of the Remuneration Committee is available for download by clicking on the link <span class="d-none d-lg-inline">on your right.</span><span class="d-lg-none">below.</span></p>
                            </div>
                            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                                <div class="card animate" data-anim="fade-in-right" data-anim-delay="250">
                                    <div class="card-body">
                                        <h5 class="card-title mb-0 text-secondary">Remuneration Committee Members</h5>
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item list-group-item-action">Brian O’Kelly (Committee Chairman)</a>
                                        <a href="#" class="list-group-item list-group-item-action">John Sheehan</a>
                                        <a href="#" class="list-group-item list-group-item-action">Catherine Duffy</a>
                                    </div>
                                    <div class="card-body">
                                        <a class="btn w-100 btn-outline-secondary" href="#" role="button">2018 Corporate Governance Report</a>
                                        <a class="btn w-100 mt-2 btn-outline-secondary" href="#" role="button">Remuneration Committee Terms of Reference</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}