<!-- ferries_division.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('ferries_division')}}
    
    <!-- Content -->
    <div class="viewport" id="ferries_division">
        <div class="banner-background"></div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid text-center vh-100 py-0 mb-0 bg-transparent position-relative">
                    <div class="page-banner w-100">
                        <div class="container d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="text-secondary">Ferries Division</h1>
                                    <p class="lead text-primary">The Ferries Division principal activities include passenger and RoRo freight shipping services and ship chartering activities. The Ferries division owns nine vessels in total and also charters in one vessel as part of its operations. Details of our fleet can be found here.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-transparent text-center w-100 position-absolute" style="bottom: 0">
                        <span class="large-icon down-icon" id="scrollDown"></span>
                    </div>
                </section>
                <div class="content-sections bg-white">
                    <section class="container py-5">
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-1 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                <p class="lead">In 2018, we were delighted to be voted ‘Best Ferry Company’ by travel trade professionals, for the 8th year in a row at the Irish Travel Industry Awards, and for the 12th year in a row at the Irish Travel Trade News Awards. In addition, Irish Ferries was also voted ‘Best Cruise or Ferry Experience’ by readers of the Irish Independent Newspapers group through their Reader Travel Awards.</p>
                            </div>
                        </div>
                    </section>
                    <section class="container border-top py-5">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-5 offset-lg-1 d-flex flex-column animate" data-anim="fade-in-left" data-anim-delay="0">
                                <div class="flex-grow-1">
                                    <h3 class="text-secondary">Irish Ferries</h3>
                                    <p class="card-text mb-2">Irish Ferries is Ireland's leading ferry company carrying passengers between Ireland, Great Britain and Continental Europe.</p>
                                </div>
                                <div class="pt-2">
                                    <a href="https://www.irishferries.com/" target="_blank" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">irishferries.com</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 mt-5 mt-md-0 d-flex flex-column animate" data-anim="fade-in-right" data-anim-delay="0">
                                <div class="flex-grow-1">
                                    <h3 class="text-secondary">Irish Ferries Freight</h3>
                                    <p class="card-text mb-2">The Ferries division comprises Irish Ferries Freight, carrying RoRo freight vehicles between Ireland, Great Britain and Continental Europe.</p>
                                </div>
                                <div class="pt-2">
                                    <a href="https://www.irishferriesfreight.com/" target="_blank" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">irishferriesfreight.com</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="container py-5 border-top">
                        <div class="row animate" data-anim="fade-in-bottom" data-anim-delay="0">
                            <div class="col-12 pb-3">
                                <h3 class="text-secondary text-center">Ferry Routes</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 text-center svg-map animate" data-anim="play">
                                {% include "partials/ferry_routes.njk" %}
                            </div>
                            <div class="col-12 text-center pt-3">
                                <span class="dot-secondary-100 small text-muted">Ports Served by Ferries</span>
                                <span class="line-secondary-100 small ml-3 text-muted">Irish Ferries Ropax and Cruise Ferry Services</span>
                                <span class="line-danger-100 small ml-3 text-muted">Irish Ferries High Speed Ferry</span>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                <h2 class="text-secondary text-center">Vessel Chartering</h2>
                                <p>The Ferries Division also owns a number of passenger and container vessels which it charters outside of the Division. The three Elb vessels are currently on year-long charters to the Group’s container shipping subsidiary Eucon on routes between Ireland and the Continent whilst the MV Ranger is on a short term charter to a third party.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-lg-4 offset-lg-2">
                                <div class="card border-0 mt-4 animate" data-anim="fade-in-left" data-anim-delay="0">
                                    <img src="assets/fleet/MV-Elbfeeder.jpg" class="card-img-top rounded" alt="MV Elbfeeder">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Elbfeeder</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="card border-0 mt-4 animate" data-anim="fade-in-right" data-anim-delay="0">
                                    <img src="assets/fleet/MV-Elbtrader.jpg" class="card-img-top rounded" alt="MV Elbtrader">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Elbtrader</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 offset-lg-2">
                                <div class="card border-0 mt-4 animate" data-anim="fade-in-left" data-anim-delay="0">
                                    <img src="assets/fleet/MV-Elbcarrier.jpg" class="card-img-top rounded" alt="MV Elbcarrier">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Elbcarrier</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="card border-0 mt-4 animate" data-anim="fade-in-right" data-anim-delay="0">
                                    <img src="assets/fleet/MV-Ranger.jpg" class="card-img-top rounded" alt="MV Ranger">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Ranger</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}