<!-- financial_calendar.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('financial_calendar')}}
    
    <!-- Content -->
    <div class="viewport" id="financial_calendar">
        <div class="banner-background"></div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid text-center py-0 mb-0 bg-transparent position-relative">
                    <div class="page-banner no-image w-100 pb-5">
                        <div class="container d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="text-secondary">Financial Calendar</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content-sections bg-white">                        
                    <section class="py-5 container border-top">
                        <div class="row">   
                            <div class="col-lg-10 offset-lg-1 animate" data-anim="fade-in-bottom" data-anim-delay="250">
                                <h3 class="text-secondary text-center mb-4">Upcoming Events</h3>
                                <ul class="list-group list-group-flush border-bottom">
                                    <li class="list-group-item list-group-item-action d-flex">
                                        <span class="text-muted small">12 Nov 2019</span>
                                        <span>Interim Results for six months to 30 September 2019</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-10 offset-lg-1 animate mt-5" data-anim="fade-in-bottom" data-anim-delay="250">
                                <h3 class="text-secondary text-center mb-4">Past Events</h3>
                                <ul class="list-group list-group-flush border-bottom">
                                    <li class="list-group-item list-group-item-action d-flex">
                                        <span class="text-muted small">12 Jul 2019</span>
                                        Annual General Meeting
                                    </li>
                                    <li class="list-group-item list-group-item-action d-flex">
                                        <span class="text-muted small">14 May 2019</span>
                                        Final Results for the year to 31 March 2019
                                    </li>
                                    <li class="list-group-item list-group-item-action d-flex">
                                        <span class="text-muted small">05 Feb 2019</span>
                                        Interim Management Statement
                                    </li>
                                    <li class="list-group-item list-group-item-action d-flex">
                                        <span class="text-muted small">13 Nov 2018</span>
                                        Interim Results for six months to 30 September 2018
                                    </li>
                                    <li class="list-group-item list-group-item-action d-flex">
                                        <span class="text-muted small">13 Sep 2018</span>
                                        Capital Markets Day
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-outline-secondary mx-auto mt-4 d-block">Load more</button>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row animate" data-anim="fade-in-bottom" data-anim-delay="250">   
                            <div class="col-lg-10 offset-lg-1">
                                <h3 class="text-secondary text-center mb-4">General Meetings</h3>
                                <div class="nav nav-tabs justify-content-center d-none d-md-flex" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-2019-tab" data-toggle="tab" href="#nav-2019" role="tab" aria-controls="nav-2019" aria-selected="true">2019</a>
                                    <a class="nav-item nav-link" id="nav-2018-tab" data-toggle="tab" href="#nav-2018" role="tab" aria-controls="nav-2018" aria-selected="false">2018</a>
                                    <a class="nav-item nav-link" id="nav-2017-tab" data-toggle="tab" href="#nav-2017" role="tab" aria-controls="nav-2017" aria-selected="false">2017</a>
                                    <a class="nav-item nav-link" id="nav-2016-tab" data-toggle="tab" href="#nav-2016" role="tab" aria-controls="nav-2016" aria-selected="false">2016</a>
                                    <a class="nav-item nav-link" id="nav-2015-tab" data-toggle="tab" href="#nav-2015" role="tab" aria-controls="nav-2015" aria-selected="false">2015</a>
                                </div>
                                <div class="input-group d-md-none">
                                    <select class="custom-select tab-select">
                                        <option value="nav-2019" selected>2019</option>
                                        <option value="nav-2018">2018</option>
                                        <option value="nav-2017">2017</option>
                                        <option value="nav-2016">2016</option>
                                        <option value="nav-2015">2015</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-10 offset-lg-1 mt-4">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="nav-2019" role="tabpanel" aria-labelledby="2019-tab">
                                        <h5 class="text-secondary">AGM (May 2019)</h5>
                                        <p class="small">The 2019 AGM of Irish Continental Group plc will be held at the Gibson Hotel, East Point Village, East Wall Road, Dublin 1 on Friday 17th May at 11:00 AM</p>
                                        <ul class="list-group list-group-flush border-bottom">
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">17 May 2019</span>
                                                Proxy Votes Held by the Board
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">17 May 2019</span>
                                                Result of AGM
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">17 May 2019</span>
                                                Details of Voting Rights
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">17 May 2019</span>
                                                Form of Proxy
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">17 May 2019</span>
                                                Chairman's Letter and Notice of AGM 2019
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">17 May 2019</span>
                                                Annual Report 2018
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="nav-2018" role="tabpanel" aria-labelledby="2018-tab">
                                        <h5 class="text-secondary">AGM (May 2018)</h5>
                                        <p class="small">The 2018 Annual General Meeting of the company was held at the Gibson Hotel, The Point Village, East Wall Road, Dublin 1 on Thursday 10 May 2018.</p>
                                        <ul class="list-group list-group-flush border-bottom">
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">10 May 2018</span>
                                                Proxy Votes Held by the Board
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">10 May 2018</span>
                                                Result of AGM
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">10 May 2018</span>
                                                Details of Voting Rights
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">10 May 2018</span>
                                                Form of Proxy
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">10 May 2018</span>
                                                Chairman's Letter and Notice of AGM 2018
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">10 May 2018</span>
                                                Annual Report 2017
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="nav-2017" role="tabpanel" aria-labelledby="2017-tab">
                                        <h5 class="text-secondary">AGM (May ’17)</h5>
                                        <p class="small">The 2017 Annual General Meeting of the company was held at the Gibson Hotel, The Point Village, East Wall Road, Dublin 1 on Wednesday 17 May 2017.</p>
                                        <ul class="list-group list-group-flush border-bottom">
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">2017</span>
                                                Chairman's Letter and Notice of AGM 2017
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">2017</span>
                                                Details of Voting Rights
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">2017</span>
                                                Form of Proxy
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">2017</span>
                                                Irish Continental Group Performance
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">2017</span>
                                                Proxy Votes Held by the Board
                                            </li>
                                            <li class="list-group-item list-group-item-action d-flex">
                                                <span class="text-muted small">2017</span>
                                                Results of AGM
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-secondary mx-auto mt-4 d-block">Load more</button>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}
