<!-- financial_highlights.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('financial_highlights')}}
    
    <!-- Content -->
    <div class="viewport" id="financial_highlights">
        <div class="banner-background"></div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid text-center py-0 mb-0 bg-transparent position-relative">
                    <div class="page-banner w-100 pb-5">
                        <div class="container d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="text-secondary">Financial Highlights</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content-sections bg-white">
                    <section class="py-5 container border-top">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-2">
                                <h5 class="text-center">Revenue</h5>
                                <div class="chart mt-3 animate"
                                    data-anim="play"
                                    data-anim-delay="0"
                                    data-type="bars-vertical"
                                    data-values="2014:290.1;2015:320.6;2016:325.4;2017:335.1;2018:330.2"
                                    data-unit="€m">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h5 class="text-center">EBITDA</h5>
                                <div class="chart mt-3 animate"
                                    data-anim="play"
                                    data-anim-delay="1000"
                                    data-type="bars-vertical"
                                    data-values="2014:50.5;2015:75.5;2016:83.5;2017:81.0;2018:68.4"
                                    data-unit="€m">
                                </div>
                            </div>
                            <div class="col-lg-4 offset-lg-2 mt-4">
                                <h5 class="text-center">Adjusted Earnings per Share</h5>
                                <div class="chart mt-3 animate"
                                    data-anim="play"
                                    data-anim-delay="2000"
                                    data-type="bars-vertical"
                                    data-values="2014:15.5;2015:29.1;2016:31.4;2017:31.0;2018:23.1"
                                    data-unit="cent">
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <h5 class="text-center">Dividend per Share</h5>
                                <div class="chart mt-3 animate"
                                    data-anim="play"
                                    data-anim-delay="3000"
                                    data-type="bars-vertical"
                                    data-values="2014:10.5;2015:11.02;2016:11.58;2017:12.16;2018:12.77"
                                    data-unit="cent">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row animate" data-anim="fade-in-bottom" data-anim-delay="0">
                            <div class="col-12">
                                <h3 class="text-secondary text-center">Five year summary</h3>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}