<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('home')}}
    
    <!-- Content -->
    <div class="viewport" id="home">
        <div class="banner-background">
            <div id="homeCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active"></div>
                    <div class="carousel-item"></div>
                    <div class="carousel-item"></div>
                    <div class="carousel-item"></div>
                    <div class="carousel-item"></div>
                </div>
            </div>
        </div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid py-0 mb-0">
                    <div class="bg-transparent text-center">
                        <div>
                            <span class="large-icon down-icon" id="scrollDown"></span>
                        </div>
                    </div>
                    <div class="bg-primary text-light py-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 d-flex align-items-center">
                                    <span class="small-icon news-icon"></span>
                                    <span class="px-2">The story of our newest ferry W.B. Yeats</span>
                                    <button type="button" class="btn btn-outline-info btn-sm"><span class="d-none d-lg-inline">see</span> video</button>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <span class="small-icon stock-icon"></span>
                                    <span class="px-2">Share Price (ISE): &euro;5.03</span>
                                    <a href="#" class="btn btn-outline-info btn-sm">more<span class="d-none d-lg-inline"> information</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content-sections bg-white">
                    <section class="container py-5">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1 text-center animate" data-anim="fade-in-bottom" data-anim-offset="200">
                                <h1 class="text-secondary display-4">We are Ireland’s leading shipping, transport and leisure Group</h1>
                                <a class="btn btn-outline-secondary mt-3" href="at_a_glance.html" role="button">The Group at a Glance</a>
                            </div>
                        </div>
                    </section>
                    <section class="container border-top py-5">
                        <div class="row justify-content-center">
                            <div class="col-md-4 col-lg-3">
                                <div class="card border-0 text-center animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                    <div class="animated-icon-md animate" data-anim="play" data-anim-delay="250" data-anim-offset="100">
                                        {% import 'partials/macro-icons.njk' as svg %}
                                        {{ svg.icon('ferry-icon') }}
                                    </div>
                                    <div class="card-body py-0">
                                        <p class="lead text-primary">1.5 million passengers carried during 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <div class="card border-0 text-center animate" data-anim="fade-in-bottom" data-anim-delay="250">
                                    <div class="animated-icon-md animate" data-anim="play" data-anim-delay="500" data-anim-offset="100">
                                        {% import 'partials/macro-icons.njk' as svg %}
                                        {{ svg.icon('container-icon') }}
                                    </div>
                                    <div class="card-body py-0">
                                        <p class="lead text-primary">Over 300,000 containers handled YE2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <div class="card border-0 text-center animate" data-anim="fade-in-bottom" data-anim-delay="500">
                                    <div class="animated-icon-md animate" data-anim="play" data-anim-delay="750" data-anim-offset="100">
                                        {% import 'partials/macro-icons.njk' as svg %}
                                        {{ svg.icon('revenue-icon') }}
                                    </div>
                                    <div class="card-body py-0">
                                        <p class="lead text-primary">2018 YE Revenue: €330m</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="container py-5 border-top">
                        <div class="row">
                            <div class="col-md-12 card-deck">
                                <div class="card border-0 animate" data-anim="fade-in-bottom" data-anim-offset="100">
                                    <div class="card-body p-0">
                                        <img src="assets/images/home-section-1.jpg" class="card-img"  alt="W.B. Yeats ferry">
                                        <h5 class="card-title text-secondary text-center mt-3">Ferries Division</h5>
                                        <p class="card-text text-center mb-0">The Ferries Division principal activities include passenger and RoRo freight shipping services and ship chartering activities. The Ferries division owns nine vessels in total and also charters in one vessel as part of its operations.</p>
                                    </div>
                                    <div class="card-footer border-0 bg-transparent pb-0 text-center">
                                        <a href="ferries_division.html" class="btn btn-outline-secondary btn-sm">Read more</a>
                                    </div>
                                </div>
                                <div class="card border-0 animate" data-anim="fade-in-bottom" data-anim-delay="250" data-anim-offset="100">
                                    <div class="card-body p-0">
                                        <img src="assets/images/home-section-2.jpg" class="card-img" alt="Dublin Ferryport Terminal at night">
                                        <h5 class="card-title text-secondary text-center mt-3">Container Division</h5>
                                        <p class="card-text text-center mb-0">The Container and Terminal Division principal activities include LoLo shipping activities under the Eucon brand and the operation of two container terminals, Dublin Ferryport Terminals and Belfast Container Terminal.</p>
                                    </div>
                                    <div class="card-footer border-0 bg-transparent pb-0 text-center">
                                        <a href="container_division.html" class="btn btn-outline-secondary btn-sm">Read more</a>
                                    </div>
                                </div>
                                <div class="card border-0 animate" data-anim="fade-in-bottom" data-anim-delay="500" data-anim-offset="100">
                                    <div class="card-body p-0">
                                        <img src="assets/images/home-section-3.jpg" class="card-img" alt="Ferry bridge at dusk">
                                        <h5 class="card-title text-secondary text-center mt-3">Environmental Responsibility</h5>
                                        <p class="card-text text-center mb-0">We are committed to carrying out our business activities in an environmentally friendly and safe manner. We are cognisant of our responsibilities to society and seek to drive environmental efficiency across all our activities.</p>
                                    </div>
                                    <div class="card-footer border-0 bg-transparent pb-0 text-center">
                                        <a href="environment.html" class="btn btn-outline-secondary btn-sm">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="container py-5 border-top">
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-1 justify-content-center animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                <h2 class="text-secondary text-center">Latest Reports and Presentations</h2>
                                <ul class="nav nav-tabs justify-content-center pt-3 d-none d-md-flex" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="reports-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports" aria-selected="false">Reports</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="presentations-tab" data-toggle="tab" href="#presentations" role="tab" aria-controls="presentations" aria-selected="false">Presentations</a>
                                    </li>
                                </ul>
                                <div class="input-group d-md-none">
                                    <select class="custom-select tab-select">
                                        <option value="all" selected>All</option>
                                        <option value="reports">Reports</option>
                                        <option value="presentations">Presentations</option>
                                    </select>
                                </div>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                                        <div class="list-group list-group-flush">
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">07 Jun 2019</span>
                                                    <span>Trading Update Presentation November 2018</span>
                                                </span>
                                                <span class="small-icon presentation-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">03 Jun 2019</span>
                                                    <span>Trading Update Nov 2018</span>
                                                </span>
                                                <span class="small-icon report-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">23 Nov 2018</span>
                                                    <span>Full Year Results Presentation 2018</span>
                                                </span>
                                                <span class="small-icon presentation-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">17 Oct 2018</span>
                                                    <span>Preliminary Statement of Results 2018</span>
                                                </span>
                                                <span class="small-icon report-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">21 Jun 2018</span>
                                                    <span>Annual report 2018</span>
                                                </span>
                                                <span class="small-icon report-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center border-bottom">
                                                <span>
                                                    <span class="small text-muted">30 Jul 2017</span>
                                                    <span>Annual Report 2017</span>
                                                </span>
                                                <span class="small-icon report-icon ml-auto"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
                                        <div class="list-group list-group-flush">
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">03 Jun 2019</span>
                                                    <span>Trading Update Nov 2018</span>
                                                </span>
                                                <span class="small-icon report-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">17 Oct 2018</span>
                                                    <span>Preliminary Statement of Results 2018</span>
                                                </span>
                                                <span class="small-icon report-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">21 Jun 2018</span>
                                                    <span>Annual report 2018</span>
                                                </span>
                                                <span class="small-icon report-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center border-bottom">
                                                <span>
                                                    <span class="small text-muted">30 Jul 2017</span>
                                                    <span>Annual Report 2017</span>
                                                </span>
                                                <span class="small-icon report-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">21 Jun 2018</span>
                                                    <span>Annual report 2018</span>
                                                </span>
                                                <span class="small-icon report-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center border-bottom">
                                                <span>
                                                    <span class="small text-muted">30 Jul 2017</span>
                                                    <span>Annual Report 2017</span>
                                                </span>
                                                <span class="small-icon report-icon ml-auto"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="presentations" role="tabpanel" aria-labelledby="presentations-tab">
                                        <div class="list-group list-group-flush">
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">07 Jun 2019</span>
                                                    <span>Trading Update Presentation November 2018</span>
                                                </span>
                                                <span class="small-icon presentation-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center border-bottom">
                                                <span>
                                                    <span class="small text-muted">23 Nov 2018</span>
                                                    <span>Full Year Results Presentation 2018</span>
                                                </span>
                                                <span class="small-icon presentation-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">07 Jun 2019</span>
                                                    <span>Trading Update Presentation November 2018</span>
                                                </span>
                                                <span class="small-icon presentation-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center border-bottom">
                                                <span>
                                                    <span class="small text-muted">23 Nov 2018</span>
                                                    <span>Full Year Results Presentation 2018</span>
                                                </span>
                                                <span class="small-icon presentation-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                                                <span>
                                                    <span class="small text-muted">07 Jun 2019</span>
                                                    <span>Trading Update Presentation November 2018</span>
                                                </span>
                                                <span class="small-icon presentation-icon ml-auto"></span>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center border-bottom">
                                                <span>
                                                    <span class="small text-muted">23 Nov 2018</span>
                                                    <span>Full Year Results Presentation 2018</span>
                                                </span>
                                                <span class="small-icon presentation-icon ml-auto"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center pt-5">
                                    <a class="btn btn-outline-secondary" href="reports_presentations.html" role="button">All publications</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}



    
    
                
            