<!-- investement_case.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('investement_case')}}
    
    <!-- Content -->
    <div class="viewport" id="investment_case">
        <div class="banner-background"></div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid text-center py-0 mb-0 bg-transparent position-relative">
                    <div class="page-banner w-100 pb-5">
                        <div class="container d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="text-secondary">Investment Case</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content-sections bg-white">
                    <section class="py-5 container border-top">
                        <div class="row">
                            <div class="col-md-10 offset-md-1 pb-5 animate" data-anim="fade-in-bottom">
                                <p class="lead text-center text-primary">Irish Continental Group is the leading Irish-based maritime transport group. We carry passengers and cars, Roll on Roll off freight and Container Lift on Lift off freight, on routes between Ireland, the United Kingdom and Continental Europe. We also operate container terminals in the ports of Dublin and Belfast.</p>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                <div class="card animate" data-anim="fade-in-bottom" data-anim-delay="250">
                                    <div class="row no-gutters">
                                        <div class="col-lg-3 p-4">
                                            <img src="assets/portraits/Eamonn-Rothwell.png" class="w-100 d-block rounded-circle bg-light" alt="Eamonn Rothwell portrait">
                                        </div>
                                        <div class="col-lg-9 card-body d-lg-flex align-items-lg-center pr-lg-4">
                                            <blockquote class="blockquote">
                                                <p>2019 will be an exciting year as we promote our direct Dublin/ France service with our new vessel W.B. Yeats and continue to seek out improvement and investment opportunities for our longer term success.</p>
                                                <footer class="blockquote-footer">Eamonn Rothwell, Chief Executive Officer <cite title="Source Title">2018 Annual Report</cite></footer>
                                            </blockquote>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="pb-5 container">
                        <div class="row align-items-lg-center">
                            <div class="col-lg-5 offset-lg-1 animate" data-anim="fade-in-left" data-anim-offset="200">
                                <h3 class="text-secondary mb-4">Positioning the group for growth</h3>
                                <p>We aim for continued success in our chosen markets and focus our efforts on the provision of a safe, reliable, timely and high quality experience for all our customers.</p>
                                <p>We will achieve success by anticipating our customers’ needs and matching their requirements with superior services through constant innovation and the rapid application of technology.</p>
                                <p>We measure our success through the quality of our service, as seen by our customers, which should result in delivering sustained and profitable growth for the benefit of our shareholders and staff.</p>
                            </div>
                            <div class="col-lg-5">
                                <div id="investmentCase" class="animate" data-anim="play" data-anim-offset="200">
                                    {% include "partials/investment_case_diagram.njk" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                Charts
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}