<!-- at_a_glance.njk -->
{% extends "layout.njk" %}

{% block content %}
    
    <!-- Content -->
    <div class="viewport" id="at_a_glance">
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <div class="content-sections bg-white">
                    <section class="py-5 container border-top">
                        <div class="row animate" data-anim="fade-in-bottom" data-anim-delay="0">
                            <div class="col-12">
                                <h3 class="text-secondary text-center">Container Routes</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-1 text-center svg-map animate" data-anim="play">
                                {% include "partials/ferry_routes.njk" %}
                            </div>
                            <div class="col-12 text-center pt-3">
                                <span class="dot-secondary-100 small text-muted">Ferries Division</span>
                                <span class="dot-info-50 small ml-3 text-muted">Container and Terminal Division</span>
                            </div>
                            <div class="col-12 text-center pt-5">
                                <a class="btn btn-outline-secondary" href="#" role="button">More Financial Highlights</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

{% endblock %}