<!-- our_fleet.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('our_fleet')}}
    
    <!-- Content -->
    <div class="viewport" id="our_fleet">
        <div class="banner-background"></div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid text-center py-0 mb-0 bg-transparent position-relative">
                    <div class="page-banner no-image w-100 pb-5">
                        <div class="container d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="text-secondary">Our Fleet</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content-sections bg-white">
                    <section class="py-5 container border-top">
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                <h2 class="text-secondary text-center">Passenger and RoRo Freight Vessels</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                    <img src="assets/fleet/MV-WB-Yeats.jpg" class="card-img-top rounded" alt="MV W.B. Yeats">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV W.B. Yeats</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>2005</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>2018</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>54,975</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">No. Engines<span>4</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Speed<span>22.5 knots</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Lane Meters<span>2,800</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Car Capacity<span>1,216</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Passenger Capacity<span>1,885</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Beds<span>1,706</span></li>
                                    </ul>
                                    <div class="card-footer px-0 py-3 text-center bg-transparent">
                                        <a href="https://www.irishferries.com/ie-en/ships/wbyeats/" target="_blank" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Find out more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="50">
                                    <img src="assets/fleet/MV-Ulysses.jpg" class="card-img-top" alt="MV Ulysses">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Ulysses</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>2001</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>2001</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>50,938</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">No. Engines<span>4</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Speed<span>22 knots</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Lane Meters<span>4,100</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Car Capacity<span>1,342</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Passenger Capacity<span>1,875</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Beds<span>186</span></li>
                                    </ul>
                                    <div class="card-footer px-0 py-3 text-center bg-transparent">
                                        <a href="https://www.irishferries.com/ie-en/ships/ulysses/" target="_blank" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Find out more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="100">
                                    <img src="assets/fleet/MV-Isle-of-Inishmore.jpg" class="card-img-top" alt="MV Isle of Inishmore">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Isle of Inishmore</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>1997</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>1997</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>34,031</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">No. Engines<span>4</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Speed<span>21.5 knots</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Lane Meters<span>2,100</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Car Capacity<span>855</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Passenger Capacity<span>2,200</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Beds<span>208</span></li>
                                    </ul>
                                    <div class="card-footer px-0 py-3 text-center bg-transparent">
                                        <a href="https://www.irishferries.com/uk-en/ships/isle-of-inishmore/" target="_blank" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Find out more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                    <img src="assets/fleet/HSC-Dublin-Swift.jpg" class="card-img-top rounded" alt="HSC Dublin Swift">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">HSC Dublin Swift</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>2001</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>2016</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>8,403</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">No. Engines<span>4</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Speed<span>35 knots</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Lane Meters<span>–</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Car Capacity<span>251</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Passenger Capacity<span>817</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Beds<span>–</span></li>
                                    </ul>
                                    <div class="card-footer px-0 py-3 text-center bg-transparent">
                                        <a href="https://www.irishferries.com/uk-en/ships/swift/" target="_blank" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Find out more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="50">
                                    <img src="assets/fleet/MV-Epsilon.jpg" class="card-img-top rounded" alt="MV Epsilon">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Epsilon (Chartered in)</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>2011</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>chartered-in</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>26,375</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">No. Engines<span>2</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Speed<span>23 knots</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Lane Meters<span>2,800</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Car Capacity<span>150</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Passenger Capacity<span>500</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Beds<span>272</span></li>
                                    </ul>
                                    <div class="card-footer px-0 py-3 text-center bg-transparent">
                                        <a href="https://www.irishferries.com/uk-en/ships/epsilon/" target="_blank" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Find out more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="100">
                                    <img src="assets/fleet/Hull-777.jpg" class="card-img-top rounded" alt="Hull 777">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">Hull 777 (under construction)</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>2020</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>Late 2020</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>67,300</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">No. Engines<span>4</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Speed<span>23 knots</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Lane Meters<span>5,610</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Car Capacity<span>1,526</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Passenger Capacity<span>1,800</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between border-bottom">Beds<span>608</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                <h2 class="text-secondary text-center">Container Vessels</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                    <img src="assets/fleet/MV-Ranger.jpg" class="card-img-top rounded" alt="MV Ranger">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Ranger</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>2005</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>2015</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>7,852</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Deadweight<span>9,300</span></li>
                                        <li class="list-group-item border-bottom py-2 d-flex justify-content-between">Capacity<span>803 TEU</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="50">
                                    <img src="assets/fleet/MV-Elbfeeder.jpg" class="card-img-top rounded" alt="MV Elbfeeder">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Elbfeeder</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>2008</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>2015</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>8,246</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Deadweight<span>11,157</span></li>
                                        <li class="list-group-item border-bottom py-2 d-flex justify-content-between">Capacity<span>974 TEU</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="100">
                                    <img src="assets/fleet/MV-Elbtrader.jpg" class="card-img-top rounded" alt="MV Elbtrader">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Elbtrader</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>2008</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>2015</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>8,246</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Deadweight<span>11,153</span></li>
                                        <li class="list-group-item border-bottom py-2 d-flex justify-content-between">Capacity<span>974 TEU</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                    <img src="assets/fleet/MV-Elbcarrier.jpg" class="card-img-top rounded" alt="MV Elbcarrier">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Elbcarrier</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>2007</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>2015</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>8,246</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Deadweight<span>11,166</span></li>
                                        <li class="list-group-item border-bottom py-2 d-flex justify-content-between">Capacity<span>974 TEU</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="50">
                                    <img src="assets/fleet/MV-Endurance.jpg" class="card-img-top rounded" alt="MV Endurance">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Endurance (chartered in)</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>2005</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>chartered-in</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>7,642</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Deadweight<span>9,146</span></li>
                                        <li class="list-group-item border-bottom py-2 d-flex justify-content-between">Capacity<span>750 TEU</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card mt-4 border-0 animate" data-anim="fade-in-bottom" data-anim-delay="100">
                                    <img src="assets/fleet/MV-Mirror.jpg" class="card-img-top rounded" alt="MV Mirror">
                                    <div class="card-body py-3">
                                        <h5 class="card-title text-center text-secondary mb-0">MV Mirror (chartered in)</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-2 d-flex justify-content-between">Year Built<span>2007</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Acquired<span>chartered-in</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Gross Tonnage<span>7,852</span></li>
                                        <li class="list-group-item py-2 d-flex justify-content-between">Deadweight<span>9,344</span></li>
                                        <li class="list-group-item border-bottom py-2 d-flex justify-content-between">Capacity<span>803 TEU</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}