<!-- senior_management.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('senior_management')}}
    
    <!-- Content -->
    <div class="viewport" id="senior_management">
        <div class="banner-background"></div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid text-center py-0 mb-0 bg-transparent position-relative">
                    <div class="page-banner w-100 pb-5">
                        <div class="container d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="text-secondary">Senior Management</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content-sections bg-white">
                    <section class="pb-5 border-top container">
                        <div class="row animate" data-anim="fade-in-bottom">
                            <div class="col-md-10 offset-md-1">
                                <p class="lead text-center text-primary pt-5">Irish Continental Group plc Senior Management comprises the Irish Continental Group plc Chief Executive Officer, the Irish Continental Group plc Chief Financial Officer, the Ferries Division Managing Director and the Container and Terminal Managing Director.</p>
                            </div>
                        </div>
                    </section>
                    <section class="container pb-5">
                        <div class="row">
                            <div class="col-md-6 col-lg-5 offset-lg-1 mb-4">
                                <div class="profile animate" data-anim="fade-in-bottom" data-anim-delay="250">
                                    <div class="base">
                                        <div class="portrait">
                                            <img src="assets/portraits/Eamonn-Rothwell.png" class="d-block rounded-circle bg-light" alt="Eamonn Rothwell portrait">
                                        </div>
                                        <div class="info">
                                            <h5 class="text-secondary">Eamonn Rothwell</h5>
                                            <p>Chief Executive Officer<br>MBS, FCCA, CFA UK</p>
                                            <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#bioER" aria-expanded="false" aria-controls="bioER">Bio</button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="bioER">
                                        <div class="card card-body bg-light border-0">
                                            <small>Eamonn Rothwell, aged 63, has been a Director for 32 years having been appointed as a non-executive Director in 1987 and subsequently to the position of Chief Executive Officer in 1992. He is a Director of Interferry European Office A.I.S.B.L. He is a former Director of The United Kingdom Mutual War Risks Association Limited, Interferry Inc and The United Kingdom Mutual Steam Ship Assurance Association (Bermuda) Limited. He is a past executive Director of stockbrokers NCB Group. Prior to that, he worked with Allied Irish Banks plc and Bord Fáilte Eireann (The Irish Tourist Board). Committee Membership: Nomination Committee.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 mb-4">
                                <div class="profile animate" data-anim="fade-in-bottom" data-anim-delay="250">
                                    <div class="base">
                                        <div class="portrait">
                                            <img src="assets/portraits/David-Ledwidge.png" class="d-block rounded-circle bg-light" alt="David Ledwidge portrait">
                                        </div>
                                        <div class="info">
                                            <h5 class="text-secondary">David Ledwidge</h5>
                                            <p>Chief Financial Officer<br>ACA, BSc (Mgmt)</p>
                                            <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#bioDL" aria-expanded="false" aria-controls="bioDL">Bio</button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="bioDL">
                                        <div class="card card-body bg-light border-0">
                                            <small>David Ledwidge, aged 39, has been a Director for 3 years having been appointed to the Board in 2016. David joined the Group in 2006 from professional services firm Deloitte where he qualified as a chartered accountant. He has held various financial positions within the Group, including Group Risk Accountant, and most recently as Finance Director of Irish Ferries. He was appointed to his current role as Group Chief Financial Officer in May 2015.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 offset-lg-1 mb-4">
                                <div class="profile animate" data-anim="fade-in-bottom" data-anim-delay="250">
                                    <div class="base">
                                        <div class="portrait">
                                            <img src="assets/portraits/Andrew-Sheen.png" class="d-block rounded-circle bg-light" alt="Andrew Sheen portrait">
                                        </div>
                                        <div class="info">
                                            <h5 class="text-secondary">Andrew Sheen</h5>
                                            <p>MD – Ferries Division<br>MSc. BEng(Hons). CEng. FIMarEST. FRINA.</p>
                                            <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#bioAS" aria-expanded="false" aria-controls="bioAS">Bio</button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="bioAS">
                                        <div class="card card-body bg-light border-0">
                                            <small>Andrew Sheen, aged 47, a chartered engineer, has been involved in shipping for over 28 years and has worked with Irish Ferries in a variety of Operational Roles for over 13 years. He re-joined ICG from the UK Maritime &amp; Coastguard Agency and has been a Director of Irish Ferries since 2013. He was appointed to his current role as Managing Director of the Ferries Division in March 2015. He is currently Vice President of the Irish Chamber of Shipping.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 mb-4">
                                <div class="profile animate" data-anim="fade-in-bottom" data-anim-delay="250">
                                    <div class="base">
                                        <div class="portrait">
                                            <img src="assets/portraits/Declan-Freeman.png" class="d-block rounded-circle bg-light" alt="Declan Freeman portrait">
                                        </div>
                                        <div class="info">
                                            <h5 class="text-secondary">Declan Freeman</h5>
                                            <p>MD – Container and Terminal Division<br>FCA</p>
                                            <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#bioDF" aria-expanded="false" aria-controls="bioDF">Bio</button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="bioDF">
                                        <div class="card card-body bg-light border-0">
                                            <small>Declan Freeman, aged 43, joined the Group in 1999 from professional services firm Deloitte where he qualified as a chartered accountant. He has worked in a number of financial and general management roles in the Group up to his appointment as Managing Director of Eucon in 2011. He was appointed to his current role as Managing Director of the Container and Terminal Division in 2012.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}