<!-- shareholder_services.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('shareholder_services')}}
    
    <!-- Content -->
    <div class="viewport" id="shareholder_services">
        <div class="banner-background"></div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid text-center py-0 mb-0 bg-transparent position-relative">
                    <div class="page-banner w-100 pb-5">
                        <div class="container d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="text-secondary">Shareholder Services</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content-sections bg-white">                        
                    <section class="py-5 container border-top">
                        <div class="row animate" data-anim="fade-in-bottom" data-anim-delay="0">
                            <div class="col-lg-10 offset-lg-1">
                                <h3 class="text-secondary text-center mb-4">Managing Your Shareholding On-line</h3>
                            </div>       
                            <div class="col-lg-6 offset-lg-1">
                                <p>Irish Continental Group plc in conjunction with our Registrar Computershare Investor Services (Ireland) Limited (“Computershare”) has made it possible to manage your shareholding online through Investor Centre. Investor Centre is a free, secure online service provided by Computershare, giving you convenient access to information on your shareholdings. By managing your shareholding online you can take advantage of all these features and more:</p>
                                <ul>
                                    <li>View share balances and market values for all of your Computershare-managed holdings</li>
                                    <li>Update dividend mandate bank instructions and view dividend payment history</li>
                                    <li>Register to receive company communications online</li>
                                    <li>Cast your proxy vote online for forthcoming General Meeting</li>
                                    <li>Update personal details, such as your address</li>
                                </ul>
                                <p>Registration is quick and easy. Just click the “Login / Register” link <span class="d-lg-none">below</span><span class="d-lg-inline">to the right</span>. You will need your Shareholder Reference Number (SRN) to hand. This number can be found on your Irish Continental Group share certificates, dividend counterfoils or any personal correspondence received from Computershare. After registering you will be sent an activation code in the post which you will need to validate your account. Once your account is activated, you will have full access to Investor Centre services. The account is specific to you and not to Irish Continental Group therefore the account will allow you access to all of your Computershare-managed holdings.</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="card animate" data-anim="fade-in-right" data-anim-delay="250">
                                    <div class="card-body">
                                        <a class="btn w-100 btn-outline-secondary" href="#" role="button">Login / Register</a>
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <div class="list-group-item">
                                            <h5 class="text-secondary mb-3">Other Queries</h5>
                                            <p>For other queries and frequently asked questions regarding shareholdings please <a href="http://www-uk.computershare.com/Investor/contactus/" target="_blank">click here</a>.</p>
                                        </div>
                                        <div class="list-group-item">
                                            <h5 class="text-secondary mb-3">Other Contact Details</h5>
                                            <p>Computershare Investor Services (Ireland) Limited<br><br>3100 Lake Drive<br>Citywest Business Campus<br>Dublin 24<br>D24 AK82</p>
                                            <div class="d-flex align-items-center">
                                                <span class="small-icon phone-icon mr-2"></span>
                                                <a href="tel:+35314475483">+353&nbsp;1&nbsp;447&nbsp;5483</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                <h3 class="text-secondary text-center mb-4">Travel Discounts for Shareholders</h3>
                                <p>We are delighted to advise registered shareholders of 1,000 or more ICG shares that they can avail of the following discounts with Irish Ferries:</p>
                                <ul>
                                    <li>20% discount on passenger &amp; car ferry services between Ireland &amp; Britain.</li>
                                    <li>10% discount on passenger &amp; car ferry services between Ireland &amp; France (direct sailings only).</li>
                                    <li>5% discount on Irish Ferries inclusive package holidays (incorporating travel with Irish Ferries).</li>
                                </ul>
                                <p>Please note these are the maximum discounts available on any one booking. Shareholder discounts cannot be used in conjunction with any other special offer, fare or promotion. In addition, as part of our on-going drive to increase efficiency and reduce distribution costs, all shareholder ferry bookings must now be made via our internet site www.irishferries.com. Shareholder Holiday Package Bookings will continue to be arranged via telephone.</p>
                                <h5 class="text-secondary">How to claim your discount</h5>
                                <p>Book On-Line at <a href="http://www.irishferries.com/" target="_blank">www.irishferries.com</a></p>
                                <ul>
                                    <li>Log-on to www.irishferries.com and make your booking in the normal way;</li>
                                    <li>Once your booking is complete, simply send an e-mail to <a href="mailto:shareholders@irishferries.com">shareholders@irishferries.com</a> with details of your Booking Reference Number and your Shareholder Reference Number;</li>
                                    <li>We will then credit your card with the relevant discount.</li>
                                </ul>
                                <p>If you have any questions, or would like any further information, please do not hesitate to contact Irish Ferries Customer Support in Dublin on <a href="tel:+35316075700">+353&nbsp;(0)1&nbsp;607&nbsp;5700</a> or e-mail us at <a href="mailto:shareholders@irishferries.com">shareholders@irishferries.com.</a></p>
                                <p class="small border rounded p-3">Please Note: This notice is to inform shareholders of their eligibility for discount. It is not an invitation to subscribe for or purchase shares. With regard to the purchase of shares you should obtain professional advice from your accountant, financial advisor or stockbroker.</p>
                                <h5 class="text-secondary">Terms &amp; Conditions</h5>
                                <ol>
                                    <li>To qualify for the discount the person travelling must be the registered holder of the shares and apply for the discount via our internet site www.irishferries.com at the time of booking.</li>
                                    <li>The shareholder discount cannot be used in conjunction with any other discount or scheme.</li>
                                    <li>The discount applies only to published brochure prices for passenger and vehicle transportation, cabin accommodation, trailers and caravans used for leisure purposes as well as motor cycles and bicycles, on a port to port basis only.</li>
                                    <li>The discount does not apply to commercial vehicles, on board sales, the transport element of inclusive holiday packages or other carriers services offered through Irish Ferries or any Tour operator.</li>
                                    <li>Advance booking is essential and there is no restriction on the number of trips the shareholders may make at the discounted rate during the validity of the scheme.</li>
                                    <li>A Corporate body may nominate one employee to avail of the discount but this benefit may not be transferred to other individuals within the same company.</li>
                                    <li>Shareholders holding their shareholding through a nominee must provide confirmation from the nominee confirming their current beneficial interest in the shares.</li>
                                    <li>Persons who hold existing bookings may avail of the discount provided application is made 10 days prior to final due payment date. If payment has already been made shareholders may apply for a refund of the discount.</li>
                                    <li>The eligibility of the shareholder for the discount, the level of discount and the granting thereof is at the sole discretion of the Company.</li>
                                    <li>Subject to the availability of space at time of booking and subject to the Carriers Booking Conditions and Conditions of Travel.</li>
                                </ol>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2 animate" data-anim="fade-in-bottom" data-anim-delay="0">
                                <h3 class="text-secondary text-center mb-4">Investor Fraud Alert</h3>
                                <h5 class="text-secondary">Warning against possible Investor Fraud (Boiler room Fraud)</h5>
                                <p>Please be aware that companies, typically from overseas, sometimes make unsolicited contact with shareholders offering to buy their shares or to sell shares on their behalf at prices which can be significantly higher than the market price of the share. Some shareholders in Irish Stock Exchange and London Stock Exchange listed companies have recently experienced unsolicited and unauthorised approaches. Always remember:</p>
                                <ul>
                                    <li>Remain vigilant</li>
                                    <li>Obtain the correct name of the person and organisation</li>
                                    <li>Check if the company is appropriately authorised (by a financial regulator)</li>
                                    <li>Obtain independent advice from a qualified advisor</li>
                                    <li>Report any unsolicited approaches to the Company's Registrar</li>
                                    <li>Do not respond to high pressure tactics</li>
                                </ul>
                                <p>To check if the company that contacts you is appropriately authorised to operate as an investment firm in Ireland, check with the Central Bank of Ireland on their website – <a href="www.centralbank.ie" target="_blank">www.centralbank.ie</a> – or call <a href="tel:+35312244000">+353&nbsp;(0)1&nbsp;224&nbsp;4000</a>. In the UK, check with the FSA on their website – <a href="www.fsa.gov.uk" target="_blank">www.fsa.gov.uk</a> – or call <a href="tel:+448456061234">+44&nbsp;(0)845&nbsp;606&nbsp;1234</a>.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}
