<!-- significant_holdings.njk -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Fixed Header -->
    {% import 'partials/macro-header.njk' as header %}
    {{header.active('significant_holdings')}}
    
    <!-- Content -->
    <div class="viewport" id="significant_holdings">
        <div class="banner-background"></div>
        <div class="page-content d-flex flex-column">
            <!-- Page Content -->
            <div class="flex-grow-1 content-wrapper">
                <section class="jumbotron jumbotron-fluid text-center py-0 mb-0 bg-transparent position-relative">
                    <div class="page-banner no-image w-100 pb-5">
                        <div class="container d-flex flex-column">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <h1 class="text-secondary">Significant Holdings</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content-sections bg-white">                        
                    <section class="py-5 container border-top">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <h3 class="text-secondary text-center">Shareholder Analysis</h3>
                                <p class="text-center">Shareholder Analysis as at 6th March 2019</p>
                            </div>
                            <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-4">
                                <div class="chart py-3 animate"
                                    data-anim="play"
                                    data-anim-delay="0" 
                                    data-type="pie"
                                    data-values="15.3;10.0;8.0;6.1;3.8;3.3;3.0"
                                    data-unit="%">
                                </div>
                            </div>
                            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                                <table class="table table-hover table-responsive-sm">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0 text-secondary w-50">Beneficial Holder as Notified</th>
                                            <th class="border-top-0 text-right text-secondary">Number of Units</th>
                                            <th class="border-top-0 text-right text-secondary">% of Issued Units</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="dot-color-1-75">Eamonn Rothwell</span></td>
                                            <td class="text-right">29,553,479</td>
                                            <td class="text-right">15.3%</td>
                                        </tr>
                                        <tr>
                                            <td><span class="dot-color-2-75">Wellington Management Company LLP</span></td>
                                            <td class="text-right">19,017,568</td>
                                            <td class="text-right">10.0%</td>
                                        </tr>
                                        <tr>
                                            <td><span class="dot-color-3-75">Ameriprise Financial Inc</span></td>
                                            <td class="text-right">15,260,710</td>
                                            <td class="text-right">8.0%</td>
                                        </tr>
                                        <tr>
                                            <td><span class="dot-color-4-75">Marathon Asset Management LLP</span></td>
                                            <td class="text-right">11,647,052</td>
                                            <td class="text-right">6.1%</td>
                                        </tr>
                                        <tr>
                                            <td><span class="dot-color-5-75">Blackrock Inc.</span></td>
                                            <td class="text-right">7,271,837</td>
                                            <td class="text-right">3.8%</td>
                                        </tr>
                                        <tr>
                                            <td><span class="dot-color-6-75">FMR LLC</span></td>
                                            <td class="text-right">6,229,035</td>
                                            <td class="text-right">3.3%</td>
                                        </tr>
                                        <tr>
                                            <td><span class="dot-color-7-75">Kinney Asset Management LLC</span></td>
                                            <td class="text-right">5,727,838</td>
                                            <td class="text-right">3.0%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section class="py-5 container border-top">
                        <div class="row">
                            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 mb-4">
                                <h3 class="text-secondary text-center mb-4">ICG Units</h3>
                                <p>ICG shares held in certificated form are represented by share certificates dated 10 June 2014 or later. Share certificates dated prior to 10 June 2014 were cancelled by the company and are no longer valid.</p>
                                <p>On 28 July 2003 the Company cancelled all then existing certificates covering holdings of ICG Ordinary Shares. These were replaced by certificates covering holdings of ICG Units. On 10 June 2014 new share certificates were issued following a sub-division of the ordinary share comprised in each ICG unit. After the 10 June 2014, only the new certificates are valid for sale / transfer purposes.</p>
                                <p>An ICG unit consists of one Ordinary Share and ten Redeemable Shares (or such lesser number thereof, if any, resulting from the redemption of one or more Redeemable Share).</p>
                                <p>If you have any query regarding your holding of ICG Units, please contact the Company Registrar, Computershare Investor Services (Ireland) Limited, P.O. Box 954, Dublin 18 or at <a href="www.computershare.com" target="_blank">www.computershare.com</a></p>
                                <table class="table table-hover table-responsive-sm">
                                    <tbody>
                                        <tr>
                                            <td class="w-50">28 July 2003 to 09 October 2003</td>
                                            <td class="text-right">1 Ordinary Share plus 10 Redeemable Shares</td>
                                        </tr>
                                        <tr>
                                            <td>10 October 2003 to 20 May 2004</td>
                                            <td class="text-right">1 Ordinary Share plus 9 Redeemable Shares</td>
                                        </tr>
                                        <tr>
                                            <td>21 May 2004 to 5 Nov 2004</td>
                                            <td class="text-right">1 Ordinary Share plus 8 Redeemable Shares</td>
                                        </tr>
                                        <tr>
                                            <td>06 Nov 2004 to 20 May 2005</td>
                                            <td class="text-right">1 Ordinary Share plus 7 Redeemable Shares</td>
                                        </tr>
                                        <tr>
                                            <td>21 May 2005 to 4 Nov 2005</td>
                                            <td class="text-right">1 Ordinary Share plus 6 Redeemable Shares</td>
                                        </tr>
                                        <tr>
                                            <td>5 Nov 2005 to 26 May 2006</td>
                                            <td class="text-right">1 Ordinary Share plus 5 Redeemable Shares</td>
                                        </tr>
                                        <tr>
                                            <td>27 May 2006 to 27 Oct 2006</td>
                                            <td class="text-right">1 Ordinary Share plus 4 Redeemable Shares</td>
                                        </tr>
                                        <tr>
                                            <td>28 Oct 2006 to 24 Apr 2008</td>
                                            <td class="text-right">1 Ordinary Share plus 3 Redeemable Shares</td>
                                        </tr>
                                        <tr>
                                            <td>25 Apr 2008 to 14 May 2009</td>
                                            <td class="text-right">1 Ordinary Share plus 2 Redeemable Shares</td>
                                        </tr>
                                        <tr>
                                            <td>15 May 2009 to 23 Jun 2009</td>
                                            <td class="text-right">1 Ordinary Share plus 1 Redeemable Shares</td>
                                        </tr>
                                        <tr>
                                            <td>24 Jun 2009 to 6 June 2014</td>
                                            <td class="text-right">1 Ordinary Share plus 10 Redeemable Shares</td>
                                        </tr>
                                        <tr>
                                            <td>7 June 2014 to date</td>
                                            <td class="text-right">1 Ordinary Share and no Redeemable Shares</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Footer -->
            {% include "partials/footer.njk" %}
        </div>
    </div>

{% endblock %}
