{% macro active(activePage='home') %}
    <header class="fixed-top shadow {%if activePage == 'home' %} expanded {% endif %}">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <div class="row flex-grow-1">
                    <div id="navbarBrandWrapper">
                        <a id="logoICG" href="#">
                            <span class="img"><img src="assets/branding/ICG-Symbol.svg" alt="ICG Logo Symbol"></span>
                            <span class="img"><img src="assets/branding/ICG-Wordmark-Blue.svg" alt="ICG Logo Wordmark"></span>
                            <span class="sr-only">Irish Continental Group (Homepage)</span>
                        </a>
                        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <!-- Main Menu -->
                    {% include "partials/main-menu.njk" %}
                </div>
            </div>
        </nav>
    </header>
{% endmacro %}