<!-- main-menu.njk -->
<div class="collapse navbar-collapse" id="mainMenu">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-light border-0 mt-0" aria-labelledby="aboutDropdown">
                <div class="d-lg-flex">
                    <div>
                    <h6 class="dropdown-header">The Group</h6>
                    <a class="dropdown-item" href="#">At a Glance</a>
                    <a class="dropdown-item" href="#">Our Business Model</a>
                    <a class="dropdown-item" href="#">Our Strategy</a>
                    </div>
                    <div>
                    <h6 class="dropdown-header">Governance</h6>
                    <a class="dropdown-item" href="#">Corporate Governance Statement</a>
                    <a class="dropdown-item" href="#">Board of Directors</a>
                    <a class="dropdown-item" href="#">Board Committees</a>
                    <a class="dropdown-item" href="#">Senior Management</a>
                    <a class="dropdown-item" href="#">Risk Management</a>
                    </div>
                    <div>
                    <h6 class="dropdown-header">Corporate Responsibility</h6>
                    <a class="dropdown-item" href="#">Environment</a>
                    <a class="dropdown-item" href="#">Safety</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="businessDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Our Business
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-light border-0 mt-0" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ferries Division</a>
            <a class="dropdown-item" href="#">Container and Terminal Division</a>
            <a class="dropdown-item" href="#">Our Fleet</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="investorsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Investors
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-light border-0 mt-0" aria-labelledby="navbarDropdown">
            <div class="d-lg-flex">
                <div>
                <h6 class="dropdown-header">Overview</h6>
                <a class="dropdown-item" href="#">Investment Case</a>
                <a class="dropdown-item" href="#">Shareholder Services</a>
                <a class="dropdown-item" href="#">Analyst Coverage</a>
                </div>
                <div>
                <h6 class="dropdown-header">Results Centre</h6>
                <a class="dropdown-item" href="#">Financial Highlights</a>
                <a class="dropdown-item" href="#">Financial Calendar</a>
                <a class="dropdown-item" href="#">Reports and Presentations</a>
                <a class="dropdown-item" href="#">Regulatory News</a>
                </div>
                <div>
                <h6 class="dropdown-header">Share Information</h6>
                <a class="dropdown-item" href="#">Share Price</a>
                <a class="dropdown-item" href="#">Dividends</a>
                <a class="dropdown-item" href="#">Significant Holdings</a>
                </div>
            </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="mediaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Media and Contacts
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-light border-0 mt-0" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Press Releases</a>
            <a class="dropdown-item" href="#">Press Contacts</a>
            <a class="dropdown-item" href="#">ICG Contacts</a>
            <a class="dropdown-item" href="#">Usefull Links</a>
            </div>
        </li>
    </ul>
</div>
