// header scss

header {

    box-shadow: $box-shadow;
    transition: box-shadow .3s ease-in-out;

    @include media-breakpoint-down(md) {
        max-height: 100vh;
        overflow-y: auto;
    }

    .navbar {
        padding: $spacer;
    }

    #navbarBrandWrapper {

        padding-top: 10%;
        transition: padding-top .3s ease-in-out;

        @include media-breakpoint-up(md) {
            padding-top: 6%;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 0;
        }
    }

    #logoICG {
        
        display: block;
        width: 75%;
        position: absolute;
        top: 0;
        left: 0;
        text-decoration: none;

        transition: transform .3s ease-in-out;
        transform-origin: top left;

        transform: translateX($spacer);
        
        @include media-breakpoint-up(md) {
            width: 50%;
        }

        @include media-breakpoint-up(lg) {
            width: 90%;
            transform: translateX(0);
        }

        span.img {
            display: inline-block;
            transition: transform .3s ease-in-out;

            img {
                display: block;
                width: 100%;
            }
        }
        span.img:first-child {
            width: 13%;
        }
        span.img + span.img {
            width: 82%;
            transform: translate(3%, -75%);
        }
    }

    .navbar-toggler {
        position: absolute;
        right: $spacer;
        top: calc(50% - 15px);

        transition: right .3s ease-in-out, top .3s ease-in-out;

    }
    .nav-item.dropdown .dropdown-item {
        white-space: normal;
    }
    .dropdown-toggle {

        @include media-breakpoint-down(md) {
            border-bottom: 1px solid $border-color;
        }

        &:after {
            @include media-breakpoint-down(md) {
                float: right;
                margin-top: .6rem;
            }
        }
    }

    div.dropdown-menu {
        @include media-breakpoint-up(lg) {
            min-width: 12rem;
        }
    }

    #aboutDropdown + div.dropdown-menu,
    #investorsDropdown + div.dropdown-menu {
        @include media-breakpoint-up(lg) {
            width: 38rem;
        }
    }

    #aboutDropdown + div.dropdown-menu {
        @include media-breakpoint-up(lg) {
            left: -8rem;
        }
    }

    #investorsDropdown + div.dropdown-menu {
        @include media-breakpoint-up(lg) {
            right: -11rem;
        }
    }
}
header.expanded {

    box-shadow: none;

    #navbarBrandWrapper {
        padding-top: 35%;
        
        @include media-breakpoint-up(md) {
            padding-top: 18%;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 15%;
        }
    }

    #logoICG {

        transform: scale3d(1.33, 1.33, 1.33);

        @include media-breakpoint-up(md) {
            transform: scale3d(1.2, 1.2, 1.2) translate(33%, 0);
        }

        @include media-breakpoint-up(lg) {
            transform: scale3d(1.2, 1.2, 1.2) translate(0, 55%);
        }

        span.img:first-child {
            transform: translate3d(336%, 0, 0);
        }
        span.img + span.img {
            transform: translate3d(-5%, 160%, 0);
        }
    }

    .navbar-toggler {
        right: calc(50% - 15px);
        top: calc(100% - 35px);

    }    
}

header.compact {

    box-shadow: none;

    #navbarBrandWrapper {

        @include media-breakpoint-up(lg) {
            padding-top: 8%;
        }
    }
    
    #logoICG {

        @include media-breakpoint-up(lg) {
            transform: translateY(45%);
        }
    }

    .navbar-toggler {
        
       // styles for menu toggle

    }
}