.viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    perspective-origin: 0%;
    display: flex;

    -webkit-overflow-scrolling: touch;

    scroll-behavior: smooth;
}

.banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0;
    transform: translateZ(-8px) scale(9);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.page-content {
    transform: translateZ(0px);
    width: 100%;
}

.viewport:not(#home) {
    .page-banner {
        padding-top: 5rem;
        padding-bottom: 5rem;

        background-image: linear-gradient(180deg, $white 65%, transparent);

        @include media-breakpoint-up(md) {
            padding-top: 7rem;
            padding-bottom: 7rem;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 10rem;
            padding-bottom: 10rem;
        }
    }
}

.chart {

    > svg {
        width: 100%;
        transform: rotate(-90deg);

        path {
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 30;

            &.secondary {
                stroke: #009C56;
            }
            &.info {
                stroke: #68ADDF;
                stroke-opacity: .5;
            }
        }
        text {
            font-family: $headings-font-family;
            font-weight: 300;
            fill: black;
            opacity: 0;
            text-anchor: middle;
            transition: opacity .3s ease-out;
            transition-delay: 1.5s; 

            &.total {
                font-size: 3rem;
            }
            &.label_1,
            &.label_2 {
                font-size: 2rem;
            }

            &.label_1 {
                fill: #009C56;
            }

            &.label_2 {
                fill: #68ADDF;
            }
        }
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }

    &.in > svg {

        text {
            opacity: 1;
        }

        path.secondary {
            animation: dash 1s ease-in-out forwards;
        }

        path.info {
            animation: dash 1s ease-in-out forwards;
            animation-delay: .9s;
        }
    }
    
}



